html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

h4 {
    font-weight: bold;
}

h4 :link, h4 :visited {
    color: #292f33;
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

blockquote {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

blockquote .avatar {
    margin-right: 10px;
    padding-left: 0;
}

blockquote > * {
    padding-left: 60px;
}

#twitter > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 5000px;
}
